name: Build

on:
  push:
    branches:
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - service: graphql
            path: graphql
      
          - service: app
            path: clients/workout-tracker

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.path }}
          file: Dockerfile
          tags: ghcr.io/jrdnrc/workout-tracker-${{ matrix.service }}:latest
          target: ${{ matrix.service }}
          push: true
          platforms: linux/amd64